@charset "UTF-8";


a:link {text-decoration: none !important; color: #FFFFFF !important;}
a:active {text-decoration: none !important; color: #361e43 !important;}
a:visited {text-decoration: none !important; color: #FFFFFF !important;}
a:hover {text-decoration: none !important;color: #f8bb00 !important;}

//a.menu_index{ color:  #FFFFFF !important; }
p.corpo_modal {text-align: justify;}

@font-face {
	font-family: "BebasNeue" !important;
	src: url("../fontes/BebasNeue.otf") !important;
	}

body {
	background: url("../img/fundo-home.png")!important;
	background-size: 100% !important;
	overflow-x:hidden !important;
	overflow-y:hidden !important;
}
/*
#barra-superior {
	width: 110% !important;
	position: absolute !important;
	top: -30px !important;
	left: -10px !important;
	z-index: -1 !important;
	box-shadow: 5px 5px 5px #888888 !important;
}

#logo-una-ideas {
	width: 300px !important;
	position: absolute !important;
	left: 100px !important;
	top: 30px !important;
}

Formataçõa do menu

nav#menu ul {
	font-family: BebasNeue !important;
	font-size: 45px !important;
	color: white !important;
	font-weight: 100 !important;
	list-style: none !important;
	text-transform: uppercase !important;
	display: block !important;
	position: absolute !important;
	top: 55px !important;
	left: 600px !important;
}

nav#menu li {
	display: inline-block !important;
	margin-right: 20px !important;
	padding: 5px 10px 0px 5px !important;
	background-color: rgba(0, 0, 0, 0) !important;
	border-radius: 70px !important;
	transition: 0.3s !important;
}

nav#menu li:hover {
	color: rgba(54, 30, 67, 100) !important;
	display: inline-block !important;
	margin-right: 20px !important;
	padding: 5px 10px 0px 10px !important;
	background-color: rgba(223, 223, 223, 100) !important;
}*/

table {
	position: absolute !important;
	top: 35% !important;
	vertical-align: baseline !important;
        margin-left: 4%;
}
td {
	width: 800px !important;
	height: 300px !important; 
	padding: 0px 2% 0px 2% !important;
}

.quadros {
	top: 50% !important;
	width: 85% !important;
	height: 85% !important;
	text-align: center !important;
	border: solid 6px rgba(54, 30, 67, 100) !important;
	border-radius: 20px !important;
	box-shadow: 5px 5px 5px #888888 !important;
	overflow: hidden !important;
	transition: 0.3s !important;
}

.quadros:hover {
	height: 110% !important;
}


img#icone-aluno {
	top: 15% !important;
	width: 45% !important;
}

img#icone-professor {
	top: 15% !important;
	width: 45% !important;
}

img#icone-investidor {
	top: 15% !important;
	width: 45% !important;
}

p{
	font-family: BebasNeue !important;
	color: rgba(54, 30, 67, 100) !important;
	font-size: 30px !important;
	top: 0px !important;
}

p.descricao {
	padding: 5px !important;
	font-size: 20px !important;
	color: white !important;
	background-color: rgba(54, 30, 67, 100) !important;
}

p#descricao-idealizador {
	margin-top: 1% !important;
}

p#descricao-professor {
	margin-top: 1% !important;
}
    
p#descricao-investidor {
	margin-top: 1% !important;
}

.cabecalho_new{
    background-image: url("../img/barra-superior-home.png") !important;
    font-family: BebasNeue !important;
    font-size: 30px !important;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
navbar{
    background-image: url("../img/barra-superior-home.png") !important;
     background-repeat: no-repeat;
}

menu_index{ 
   padding-top: 2% !important;
}

.texto_sobre{
     font-family: Helvetica,Arial,sans-serif !important;
     font-size: 20px !important;
     text-align: justify !important;
   
}


.glyphicon-1 {font-size: 1.2em;}
.glyphicon-1 {font-size: 2em;}
.glyphicon-1 {font-size: 3em;}
.glyphicon-1 {font-size: 4em;}
.glyphicon-1 {font-size: 5em;}


#rodape{
	position: fixed;
	background-color: #eeeeee;
	border: solid 2px #888888;
	width: 110%;
	height: 10%;
	margin: 0px 0px 0px -15px;
	padding-left: 7%;
	top: 90%;
	z-index: 2;
}

#rodape div{
	font-family: BebasNeue;
	color: #361e43;
	font-size: 15pt;
}

.rodape_email{
	font-family: Helvetica,Arial,sans-serif !important;
	color: #361e43;
	font-size: 12pt;
}

.link_rodape a:link {text-decoration: none !important; color: #361e43 !important;}
.link_rodape a:active {text-decoration: none !important; color: #361e43 !important;}
.link_rodape a:visited {text-decoration: none !important; color: #361e43 !important;}
.link_rodape a:hover {text-decoration: none !important;color: #361e43 !important;}


.btn-default {
  text-shadow: 0 1px 0 #fff;
  background-image: -webkit-linear-gradient(top, #9D9DBD 0%, #e0e0e0 100%) !important;
  background-image:      -o-linear-gradient(top, #9D9DBD 0%, #e0e0e0 100%)!important;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#9D9DBD), to(#e0e0e0));
  background-image:         linear-gradient(to bottom, #9D9DBD 0%, #e0e0e0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9D9DBD', endColorstr='#ffe0e0e0', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #dbdbdb;
  border-color: #ccc;
}
.btn-default:hover,
.btn-default:focus {
  background-color: #e0e0e0;
  background-position: 0 -15px;
}
.btn-default:active,
.btn-default.active {
  background-color: #e0e0e0;
  border-color: #dbdbdb;
}
.btn-default.disabled,
.btn-default:disabled,
.btn-default[disabled] {
  background-color: #e0e0e0;
  background-image: none;
}
/*.btn-primary {
  background-image: -webkit-linear-gradient(top, #361e43 0%, #751975 100%);
  background-image:      -o-linear-gradient(top, #361e43 0%, #751975 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#361e43), to(#751975));
  background-image:         linear-gradient(to bottom, #361e43 0%, #751975 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff361e43', endColorstr='#ff265a88', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #751975;
}
.btn-primary:hover,
.btn-primary:focus {
  background-color: #751975;
  background-position: 0 -15px;
}
.btn-primary:active,
.btn-primary.active {
  background-color: #751975;
  border-color: #245580;
}
.btn-primary.disabled,
.btn-primary:disabled,
.btn-primary[disabled] {
  background-color: #751975;
  background-image: none;
}*/


@media screen and (-webkit-min-device-pixel-ratio:0) {


}
