@charset "UTF-8";


a:link {text-decoration: none !important; color: #FFFFFF !important;}
a:active {text-decoration: none !important; color: #361e43 !important;}
a:visited {text-decoration: none !important; color: #FFFFFF !important;}
a:hover {text-decoration: none !important;color: #361e43 !important;}

//a.menu_index{ color:  #FFFFFF !important; }
p.corpo_modal {text-align: justify;}

@font-face {
	font-family: "BebasNeue" !important;
	src: url("../fontes/BebasNeue.otf") !important;
	}

body {
	background: url("../imagens/fundo-home.png")!important;
	background-size: 100% !important;
	overflow-x:hidden !important;
	overflow-y:hidden !important;
}

#barra-superior {
	width: 110% !important;
	position: absolute !important;
	top: -30px !important;
	left: -10px !important;
	z-index: -1 !important;
	box-shadow: 5px 5px 5px #888888 !important;
}

#logo-una-ideas {
	width: 300px !important;
	position: absolute !important;
	left: 100px !important;
	top: 30px !important;
}

/*Formataçõa do menu*/

nav#menu ul {
	font-family: BebasNeue !important;
	font-size: 45px !important;
	color: white !important;
	font-weight: 100 !important;
	list-style: none !important;
	text-transform: uppercase !important;
	display: block !important;
	position: absolute !important;
	top: 55px !important;
	left: 600px !important;
}

nav#menu li {
	display: inline-block !important;
	margin-right: 20px !important;
	padding: 5px 10px 0px 5px !important;
	background-color: rgba(0, 0, 0, 0) !important;
	border-radius: 70px !important;
	transition: 0.3s !important;
}

nav#menu li:hover {
	color: rgba(54, 30, 67, 100) !important;
	display: inline-block !important;
	margin-right: 20px !important;
	padding: 5px 10px 0px 10px !important;
	background-color: rgba(223, 223, 223, 100) !important;
}

table {
	position: absolute !important;
	top: 250px !important;
	vertical-align: baseline !important;
}
td {
	width: 800px !important;
	height: 300px !important; 
	padding: 0px 40px 0px 40px !important;
}

.quadros {
	top: 200px !important;
	width: 85% !important;
	height: 300px !important;
	text-align: center !important;
	border: solid 6px rgba(54, 30, 67, 100) !important;
	border-radius: 20px !important;
	box-shadow: 5px 5px 5px #888888 !important;
	overflow: hidden !important;
	transition: 0.3s !important;
}

.quadros:hover {
	height: 350px !important;
}


img#icone-aluno {
	top: 100px !important;
	width: 150px !important;
}

img#icone-professor {
	top: 100px !important;
	width: 160px !important;
}

img#icone-investidor {
	top: 105px !important;
	width: 140px !important;
}

p {
	font-family: BebasNeue !important;
	color: rgba(54, 30, 67, 100) !important;
	font-size: 30px !important;
	top: 0px !important;
}

p.descricao {
	padding: 5px !important;
	font-size: 20px !important;
	color: white !important;
	background-color: rgba(54, 30, 67, 100) !important;
}

p#descricao-idealizador {
	margin-top: 5px !important;
}

p#descricao-professor {
	margin-top: 12px !important;
}
    
p#descricao-investidor {
	margin-top: 3px !important;
}
